.home-header {
    background: linear-gradient(rgba(38, 50, 56, 0.7) 10%, rgba(38, 50, 56, 0.7)), url('../img/cp_coldfront.webp');
    background-size: cover;
    background-position: center
}

.img-separator {
    height: 30vh;
}