header 
{
  height: 100vh;
}

* {
  scrollbar-color: #FB524F rgb(64, 63, 63);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track 
{
  background: rgb(64, 63, 63);
}

::-webkit-scrollbar-thumb 
{
  background: #FB524F;
}

::-webkit-scrollbar 
{
  width: 0.5rem;
}

.dark-header 
{
  background-color: #212121;
}

.btn,
.btn-lg 
{
  border-radius: 0;
}

a.text-light.focus 
{
  color: #dddddd !important;
}

section 
{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer 
{
  padding: 2px;
  color:#ddd;
}

.modal-lg 
{
  max-width: 85%;
}

a {
  color: #FB524F;
  transition: 0.25s;
  text-decoration: none;
}

.bi 
{
  display: inline-block;
  vertical-align: text-bottom;
}

.btn-outline-primary 
{
  color: #FB524F;
  border-color: #FB524F;
  margin-bottom: 1em;
  font-weight: 600;
  padding-bottom: 14px;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active 
{
  color: #dddddd;
  background-color: #FB524F;
  border-color: #FB524F;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active 
{
  background-color: #FB524F;
  border-color: #FB524F;
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus 
{
  background-color: #FB524F;
  border-color: #FB524F;
}

.img-logo 
{
  height: 15vh;
}

html 
{
  scroll-behavior: smooth;
}

.container-img 
{
  max-width: 100%;
  height: auto;
}

section 
{
  color: #ddd;
}
.display-3
{
  color: #FB524F;
  font-weight: 500;
}

a:hover 
{
  color: #dddddd;
}
.h1, .h2 
{
  color: #FB524F;
  margin-bottom:1em;
  line-height: 0.2em;
}

.containertext 
{
  color: #ddd;
}

.headertext 
{
  color:#ddd;
  word-spacing: 0.5em;
  width:100%;
  padding-bottom:1em;
}

.fas 
{
  color: #FB524F
}

.material-icons 
{
  color: #FB524F;
}

.mt-0 
{
  margin-bottom:0;
  margin-top:0;
  line-height: 1.3em;
}

p
{
  line-height: 1.3em;
}
