header {
  height: 100vh;
}

* {
  scrollbar-color: #FB524F rgb(64, 63, 63);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: rgb(64, 63, 63);
}

::-webkit-scrollbar-thumb {
  background: #FB524F;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

.dark-header {
  background-color: #212121;
}

.btn,
.btn-lg {
  border-radius: 0;
}

a.text-light.focus {
  color: #dddddd !important;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

footer {
  padding: 2px;
  color:#ddd;
}

.modal-lg {
  max-width: 85%;
}

a {
  color: #FB524F;
  transition: 0.25s;
  text-decoration: none;
}

.bi {
  display: inline-block;
  vertical-align: text-bottom;
}


.btn-outline-primary {
  color: #FB524F;
  border-color: #FB524F;
}

.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #dddddd;
  background-color: #FB524F;
  border-color: #FB524F;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #FB524F;
  border-color: #FB524F;
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
  background-color: #FB524F;
  border-color: #FB524F;
}

.img-logo {
  height: 15vh;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-snap-stop: normal;
}
}

.container-img {
  max-width: 100%;
  height: auto;
}
.BGcontainer
{
background-image: url('../img/darth-stripe.webp');
}

section {
  color: #ddd;
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
header {
  scroll-snap-align: start;
  
}
footer {
  scroll-snap-align: start;
}
.display-3
{
  color: #dddddd;
  text-shadow: 0 0 10px #ddd;
}

a:hover {
  color: #dddddd;
  text-shadow: 0 0 2px #dddddd;
}
.h2 {
  color: #FB524F;
  text-shadow: 0 0 5px #000000;
}

.vacimg {
  margin-left:0px;
}

.containertext {
  color: #ddd;
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.scrollstop {
  scroll-snap-align: start;
}
.headertext {
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.349);
  color:#ddd;
}
.fas {
  color: #FB524F;
}
